$light-color: #f2f6ff;
$dark-color: #405e87;

@mixin header {
  background-color: $light-color;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $dark-color;
  overflow: hidden;

  .header-title {
    margin-left: 30px;
    user-select: none;
    span {
      user-select: none;
      letter-spacing: 5px;
      font-weight: bold;
      cursor: pointer;
    }
  }

  .header-items {
    display: flex;
    justify-content: space-evenly;
    font-size: 14.5px;
    align-items: center !important;
    letter-spacing: 3px;
    list-style-type: none;
    .header-item {
      user-select: none;
      cursor: pointer;
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      &:hover {
        max-width: 100%;
        background-color: $dark-color;
        color: $light-color;
        line-height: 100%;
        height: 100%;
        padding-top: 22px;
        padding-bottom: 22px;
      }

      &:first-child {
        margin-right: 10px;
      }

      &:last-child {
        margin-left: 10px;
      }
    }
  }
}

.header-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  .header {
    @include header();
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .header-menu {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.16);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 10px;
    color: $dark-color;
    .header-menu-item {
      user-select: none;
      letter-spacing: 2px;

      &:hover {
        font-weight: bolder;
      }
      &:first-child {
        margin-bottom: 15px;
      }
      &:last-child {
        margin-top: 15px;
      }
    }
  }
}
